# .gitattributes

* text eol=lf
*.json linguist-vendored linguist-generated
*.json.* linguist-vendored linguist-generated

# ==================================================================================================
# Directories ======================================================================================
# ==================================================================================================

build/** linguist-vendored linguist-generated
.build/** linguist-vendored linguist-generated
bundle/** linguist-vendored linguist-generated
.bundle/** linguist-vendored linguist-generated
vendor/** linguist-vendored linguist-generated
.vendor/** linguist-vendored linguist-generated
debug/** linguist-vendored linguist-generated
.debug/** linguist-vendored linguist-generated
dist/** linguist-vendored linguist-generated
.dist/** linguist-vendored linguist-generated
coverage/** linguist-vendored linguist-generated
.coverage/** linguist-vendored linguist-generated
out/** linguist-vendored linguist-generated
.out/** linguist-vendored linguist-generated
temp/** linguist-vendored linguist-generated
.temp/** linguist-vendored linguist-generated
target/** linguist-vendored linguist-generated
.target/** linguist-vendored linguist-generated
gradle/** linguist-vendored linguist-generated
.gradle/** linguist-vendored linguist-generated
bin/** linguist-vendored linguist-generated
.bin/** linguist-vendored linguist-generated
gen/** linguist-vendored linguist-generated
.gen/** linguist-vendored linguist-generated
.git/** linguist-vendored linguist-generated
node_modules/** linguist-vendored linguist-generated
META-INF/** linguist-vendored linguist-generated
.META-INF/** linguist-vendored linguist-generated

# 4. ide & temp directories
.vscode/** linguist-vendored linguist-generated
.idea/** linguist-vendored linguist-generated
.tmp/** linguist-vendored linguist-generated
.cache/** linguist-vendored linguist-generated
.nyc_output/** linguist-vendored linguist-generated
.grunt/** linguist-vendored linguist-generated
.gulp/** linguist-vendored linguist-generated
.parcel-cache/** linguist-vendored linguist-generated
.history/** linguist-vendored linguist-generated
.bookmark/** linguist-vendored linguist-generated
.backup/** linguist-vendored linguist-generated
.etc/** linguist-vendored linguist-generated
.node/** linguist-vendored linguist-generated
.cxx/** linguist-vendored linguist-generated

# ==================================================================================================
# Files ============================================================================================
# ==================================================================================================

# 1. os-specific files
*.swp linguist-vendored linguist-generated
*.swo linguist-vendored linguist-generated
*.DS_Store linguist-vendored linguist-generated
*Thumbs.db linguist-vendored linguist-generated
*Gemfile linguist-vendored linguist-generated

# 2. log files
*.log linguist-vendored linguist-generated
npm-debug.log linguist-vendored linguist-generated
yarn-debug.log linguist-vendored linguist-generated
yarn-error.log linguist-vendored linguist-generated

# 3. env files
*.env linguist-vendored linguist-generated
*.env.* linguist-vendored linguist-generated
*.properties linguist-vendored linguist-generated
*.properties.* linguist-vendored linguist-generated
*.classpath linguist-vendored linguist-generated
*.classpath.* linguist-vendored linguist-generated
*.props linguist-vendored linguist-generated
*.props.* linguist-vendored linguist-generated
*.project linguist-vendored linguist-generated
*.project.* linguist-vendored linguist-generated
*.settings linguist-vendored linguist-generated
*.settings.* linguist-vendored linguist-generated
*.keystore linguist-vendored linguist-generated
*.keystore.* linguist-vendored linguist-generated
app.json linguist-vendored linguist-generated
app.json.* linguist-vendored linguist-generated
gradlew linguist-vendored linguist-generated
gradlew.* linguist-vendored linguist-generated
gradlew.bat linguist-vendored linguist-generated
gradlew.bat.* linguist-vendored linguist-generated
settings.gradle linguist-vendored linguist-generated
settings.gradle.* linguist-vendored linguist-generated
build.gradle linguist-vendored linguist-generated
.build.gradle linguist-vendored linguist-generated

# 4. temporary files
*.tmp linguist-vendored linguist-generated
*.tmp.* linguist-vendored linguist-generated
*.bak linguist-vendored linguist-generated
*.bak.* linguist-vendored linguist-generated
*.backup linguist-vendored linguist-generated
*.backup.* linguist-vendored linguist-generated
*.orig linguist-vendored linguist-generated
*.orig.* linguist-vendored linguist-generated
*.rej linguist-vendored linguist-generated
*.rej.* linguist-vendored linguist-generated

# 6. package manager lock files
package-lock.json linguist-vendored linguist-generated
package-lock.json.* linguist-vendored linguist-generated
yarn.lock linguist-vendored linguist-generated
yarn.lock.* linguist-vendored linguist-generated

# 7. config files
tsconfig.json linguist-vendored linguist-generated
tsconfig.json.* linguist-vendored linguist-generated
tsconfig.paths.json linguist-vendored linguist-generated
tsconfig.paths.json.* linguist-vendored linguist-generated
tsconfig.default.json linguist-vendored linguist-generated
tsconfig.default.json.* linguist-vendored linguist-generated
tsconfig.regular.json linguist-vendored linguist-generated
tsconfig.regular.json.* linguist-vendored linguist-generated
jsconfig.json linguist-vendored linguist-generated
jsconfig.json.* linguist-vendored linguist-generated
jsconfig.paths.json linguist-vendored linguist-generated
jsconfig.paths.json.* linguist-vendored linguist-generated
jsconfig.default.json linguist-vendored linguist-generated
jsconfig.default.json.* linguist-vendored linguist-generated
jsconfig.regular.json linguist-vendored linguist-generated
jsconfig.regular.json.* linguist-vendored linguist-generated
metro.config.js linguist-vendored linguist-generated
metro.config.* linguist-vendored linguist-generated
jest.config.js linguist-vendored linguist-generated
jest.config.* linguist-vendored linguist-generated
babel.config.js linguist-vendored linguist-generated
babel.config.* linguist-vendored linguist-generated
.watchmanconfig linguist-vendored linguist-generated
.watchmanconfig.* linguist-vendored linguist-generated
.prettierrc linguist-vendored linguist-generated
.prettierrc.* linguist-vendored linguist-generated
.prettierignore linguist-vendored linguist-generated
.prettierignore.* linguist-vendored linguist-generated
.prettierrc.js linguist-vendored linguist-generated
.prettierrc.js.* linguist-vendored linguist-generated
.eslintrc linguist-vendored linguist-generated
.eslintrc.* linguist-vendored linguist-generated
.eslintignore linguist-vendored linguist-generated
.eslintignore.* linguist-vendored linguist-generated
.eslintrc.js linguist-vendored linguist-generated
.eslintrc.js.* linguist-vendored linguist-generated
.stylelintrc linguist-vendored linguist-generated
.stylelintrc.* linguist-vendored linguist-generated
.stylelintignore linguist-vendored linguist-generated
.swcrc linguist-vendored linguist-generated
.swcrc.* linguist-vendored linguist-generated

# 8. etc files
push.cjs linguist-vendored linguist-generated
push.cjs.* linguist-vendored linguist-generated
push.sh linguist-vendored linguist-generated
push.sh.* linguist-vendored linguist-generated
fetch.cjs linguist-vendored linguist-generated
fetch.cjs.* linguist-vendored linguist-generated
fetch.sh linguist-vendored linguist-generated
fetch.sh.* linguist-vendored linguist-generated
pull.cjs linguist-vendored linguist-generated
pull.cjs linguist-vendored linguist-generated
pull.sh linguist-vendored linguist-generated
pull.sh.* linguist-vendored linguist-generated
merge.cjs linguist-vendored linguist-generated
merge.cjs.* linguist-vendored linguist-generated
merge.sh linguist-vendored linguist-generated
merge.sh.* linguist-vendored linguist-generated
gcloud.cjs linguist-vendored linguist-generated
gcloud.cjs.* linguist-vendored linguist-generated
gcloud.sh linguist-vendored linguist-generated
gcloud.sh.* linguist-vendored linguist-generated
.gitignore.public linguist-vendored linguist-generated
.gitignore.public.* linguist-vendored linguist-generated
.gitignore.private linguist-vendored linguist-generated
.gitignore.private.* linguist-vendored linguist-generated
*.vsix linguist-vendored linguist-generated
*.vsix.* linguist-vendored linguist-generated