{
  "sourceMaps": true,
  "inlineSourcesContent": false,
  "minify": true,
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "noInterop": false,
    "ignoreDynamic": false,
    "importInterop": "swc",
    "lazy": true,
    "preserveImportMeta": false
  },
  "jsc": {
    "target": "esnext",
    "loose": true,
    "externalHelpers": false,
    "keepClassNames": false,
    "minify": {
      "compress": {
        "unused": false,
        "dead_code": true
      },
      "mangle": true
    },
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    }
  }
}