{
  "sourceMaps": false,
  "inlineSourcesContent": false,
  "minify": true,
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "noInterop": false,
    "ignoreDynamic": false,
    "importInterop": "swc",
    "lazy": false,
    "preserveImportMeta": false
  },
  "jsc": {
    "target": "esnext",
    "loose": true,
    "externalHelpers": false,
    "keepClassNames": false,
    "minify": {
      "compress": {
        "unused": true,
        "dead_code": true,
        "drop_console": false,
        "drop_debugger": true,
        "passes": 2
      },
      "mangle": {
        "keep_classnames": false,
        "keep_fnames": false
      }
    },
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    }
  }
}