<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- head --------------------------------------------------------------------------------------->
  <head>
    <div th:replace="common/head :: head"></div>
  </head>

  <!-- body --------------------------------------------------------------------------------------->
	<body>

		<!-- header ----------------------------------------------------------------------------------->
    <div th:replace="common/header :: header"></div>

    <!-- navigation -->
    <div th:with="icon='fas fa-shopping-bag', text1='Shop', text2='Product Add'">
      <div th:replace="common/navigation :: navigation"></div>
    </div>

    <!-- section ---------------------------------------------------------------------------------->
    <section class="checkout spad">
      <div class="container">
        <div class="checkout__form">

          <!-- form ------------------------------------------------------------------------------->
          <form th:action="@{/product/addProduct}" method="POST" enctype="multipart/form-data">

            <!-- row 1 ---------------------------------------------------------------------------->
            <div class="row">

              <!-- col 1 -------------------------------------------------------------------------->
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
                <h6 class="checkout__title">상품 등록</h6>

                <!-- row 2 ------------------------------------------------------------------------>
                <div class="row">
                  <!-- name -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <p class="p">상품명<span>*</span></p>
                      <input type="text" placeholder="Name" th:name="product_name" th:id="product_name"/>
                    </div>
                  </div>
                  <!-- price -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <p class="p">상품 가격<span>*</span></p>
                      <input type="text" placeholder="Price" th:name="product_price" th:id="product_price"/>
                    </div>
                  </div>
                  <!-- stock -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <p class="p"> 상품 수량<span>*</span></p>
                      <input type="text" placeholder="Stock" th:id="product_stock" th:name="product_stock"/>
                    </div>
                  </div>
                  <!-- company -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <p class="p"> 제조사<span>*</span></p>
                      <input type="text" placeholder="Company" th:id="product_company" th:name="product_company"/>
                    </div>
                  </div>
                  <!-- category -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <p class="p">카테고리<span>*</span></p>
                      <select th:id="product_category" th:name="product_category">
                        <option selected>선택</option>
                        <option value="아우터">아우터</option>
                        <option value="상의">상의</option>
                        <option value="하의">하의</option>
                        <option value="신발">신발</option>
                        <option value="가방">가방</option>
                        <option value="악세사리">악세사리</option>
                      </select>
                    </div>
                  </div>
                  <!-- origin -->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <p class="p">원산지<span>*</span></p>
                      <select placeholder="Origin" th:id="product_origin" th:name="product_origin" required>
                        <option selected>선택하기</option>
                        <option value="대한민국">대한민국</option>
                        <option value="중국">중국</option>
                        <option value="일본">일본</option>
                        <option value="미국">미국</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- details -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="checkout__input">
                      <p class="p">상품 상세설명<span>*</span></p>
                      <textarea class="checkout__input__textarea" placeholder="Details" th:id="product_details" th:name="product_details"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <!-- existing image 1 -->
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <div class="previewExisting-group">
                        <p class="p">기존 이미지<span>*</span></p>
                        <img class="existingMiniBox" id="existingMiniBox" th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/icon/noimage.png}"/>
                      </div>
                    </div>
                  </div>
                  <!-- product image 1 -->
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <div class="checkout__input">
                      <div class="previewMini-group">
                        <p class="p"><label for="imageFile1">상품 이미지<span>*</span></label></p>
                        <input type="file" id="imageFile1" onchange="junghoPreview(1)" class="imageFile" name="product_imgsFile1"/>
                        <div class="imageMiniLoader" id="imageMiniLoader1"></div>
                        <img class="imageMiniBox" id="imageMiniBox1"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col 1 -->

              <!-- preview -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
              <div class="row">
                <div class="row">
                  <!-- preview image -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="previewImage-group">
                      <h4 class="p"><i class="fa fa-image"></i>&nbsp;Preview</h4>
                      <hr>
                      <div class="imageLoader" id="imageLoader"></div>
                      <img class="imageBox" id="imageBox"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- button -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="previewButton-group">
                      <button class="jungho-button" id="resetButton" type="reset"
                      th:onclick="window.location.reload();">새로고침</button>
                      <button class="jungho-button" id="submitButton" type="submit"
                      th:onclick="return addProduct();">등록하기</button>
                      <button type="button" class="jungho-button" th:onclick="'window.location.href=\'' + @{/} + '\''"> 홈으로 </button>
                    </div>
                  </div>
                </div>^(?!\/\/--)(?!(?:.*\bclassName\b)|(?:(?!(?:div).*)class=".*"))(?:\n*)(\s*)([<]div class="row\s*.*\s*[>])(\s*?)
              </div>
            </div>
            <!-- /.row 1 -->
          </form>
          <!-- /.form -->

        </div>
      </div>
    </section>
    <!-- /.section -->

    <!-- footer ----------------------------------------------------------------------------------->
    <div th:replace="common/footer :: footer"></div>

  </body>
</html>
<!--/.html-->